*{
    margin:0px;
    padding:0px;
}

body{
    overflow:hidden;
   
}
.sky{
    widht:100vw;
    height:100vh;
    background: linear-gradient(to top, #001d3d,#003566);
    position:relative;
    animation:changeSky 10s linear infinite alternate;
       

}
.sun{
    width:100px;
    height:100px;
    background: radial-gradient(circle, #ffdd55, #ff9900);
    border-radius:50%;
    position:absolute;
    bottom:-100px;
    left:50%;
    /* transform:translateX(-50%); */
    animation:sunrise 10s linear infinite alternate;
}
@keyframes sunrise{
    0%{
        bottom:-100px;
    }
    100%{
        bottom:70%;
    }
}
@keyframes changeSky{
    0%{
        background: linear-gradient(to top, #001d3d,#003566);
    }
    25%{
        background: linear-gradient(to top, #003566,#00598c);
    }
    100%{
        background: linear-gradient(to top, #00598c,#007cb2);
    }
}