body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: blue;
    margin:0px;
}
.btn-container{
    position:relative;
}
.hover_btn{
    position:absolute;
    padding:15px 30px;
    font-size: 18px;
    color:white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.hover_btn::before{
    content:'';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.3);
   
    transition:left 0.5s ease;
    z-index:-1;
}
.hover_btn:hover::before{
    left:0%;
}