.btn{
    padding: 18px 20px;
    background-color: teal;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: darkcyan;
}
.btn2{
   transition:background-color 5s ease 1s;
}
.btn2:hover{
    background-color: orange;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.7);
     /* transition:all 5s ease 1s;  don't write here*/
    
}