body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #f0f0f0;
}
.container{
    perspective: 1000px;
}
.card{
    width:300px;
    height:200px;
    position: relative;
    transform-style: preserve-3d;
    
}
.card:hover{
    transform: rotateY(180deg);
    transition: transform 0.8s;
   
}
.cardface{
    position: absolute;
    width:100%;
    height:100%;
     backface-visibility: hidden;  
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    font-weight:bold;
    border: 2px solid #333;
    border-radius: 10px;
}
.cardfront{
    background-color: #ffcc00;
}
.cardback{
    background-color: #0099cc;
    transform: rotateY(180deg);
}
