body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #f0f0f0;
    transition-property: background-color;
    transition-duration: 5s;
}
body:hover{
    background-color:red;
}
.container{
    
    display:flex;
    gap:25px;
    padding:20px;
    

}
.card{
   
    height:100%;
   
    
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    font-size:24px;
    font-weight:bold;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: white;
    
}
.card img{
    width:100%;
    height:90%;
}
.carddetails
{
    padding:15px;
    
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
