#container
{
    display:grid;
    
    grid-template-rows:50px 50px 50px;
    /*grid-template-columns: 1fr 2fr 3fr;
      align-content:end/start/space-around/space-evenly/space-between*/
    grid-auto-flow: column;
    border: 2px solid black;
    border-radius: 10px;
    padding:5px;
    /*justify-content: space-around/space-evenly/space-between/end/start*/;
    /*align-items: center/stretch/start/end*/;
    /*justify-items: center/stretch/start/end*/;

}
.item
{
    background-color:aquamarine;
    border:2px solid black;
    padding:20px;
    margin: 2px;

}