#gallery{
    display:grid;
    grid-template-columns: repeat(4,1fr) 2fr 1fr 1fr;
    gap:0.5rem;
    margin-right: 15px;
    margin-bottom:10px;
}
img{
    width:100%;
   height: 100%;
}
.fourxfourimage_1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.fourxfourimage_2{
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}
.last_image{
    grid-column:5/6;
    grid-row:1/ 4;

    
}
.twoxtwoimage1{
    grid-column:1/3;
    grid-row:4/6;
}
.twoxtwoimage2{
    grid-column:3/5;
    grid-row:4/6;
}
.twoxtwoimage3{
    grid-column:5/8;
    grid-row:4/6;
}
.sample1{
    grid-column:6/7;
    grid-row:1/4;
}
.sample2{
    grid-column:7/8;
    grid-row:1/2;
}
.sample3{
    grid-column:7/8;
    grid-row:2/3;
}
.sample4{
    grid-column:7/8;
    grid-row:3/4;
}
