.note{
    position:relative;
    background-color: cyan;
    border: 1px solid black;
    padding:10px;
    border-radius: 5px;

}
p::before{
    content:"Note";
    position:absolute;
    top:-10px;
    left:10px;
    background-color: yellow;
    text-align: center;
    border: 1px solid #ccc;
    border-radius:5px;
    padding:2px 5px;

}
.ribbon-box{
    position:relative;
    background-color: lightgreen;
    border: 1px solid black;
    padding:10px;
    border-radius: 5px;
    width:150px;
    height:85px;
    margin-top:10px;
    display :flex;
    justify-content: center;
    align-items: center;
}
.ribbon-box::before{
    content:"SALE";
    position:absolute;
    top:-10px;
    right:-10px;
    background-color: red;
    color:white;
    text-align: center;
    border: 1px solid #ccc;
    border-radius:5px;
    padding:2px 5px;
    transform: rotate(45deg);
    


}
