*{
    margin:0px;
    padding:0px;
}

header{
    display:flex;
    justify-content:end;
    align-items:center;
    background-color: aquamarine;
    width:100%;
    height:100px;

}
ul{
    list-style-type: none;
    display:flex;
    margin:15px;
    width:50%;

}
a{
    text-decoration:none;
    color:black;
    margin:0px 10px;
    font-weight:bold;
    font-size:20px;
    background-color: white;
    padding:10px;
    border-radius: 5px;

}
a:hover{
    background-color: black;
    color:white;
}
@media screen and (max-width:768px)
{
    header{
        display:block;
        height: auto;
        padding:20px 0px;
    }
    ul{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding:20px 0px;
    }
    ul li{
        width:100%;
        padding:5px 5px;
    }
    li a{
        display:block;
        width:95%;
        text-align: center;
    }
}