*{
    margin:0px;
    padding:0px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9f9;
    display:flex;
    height: 100vh;

}
.sidebar{
    width:700px;
    background-color: #333;
    color:white;
    display:flex;
    flex-direction: column;

}
.logo{
    padding:20px;
    font-size:24px;
    font-weight:bold;
    text-align: center;
    border-bottom: 1px solid #444;
}
.sidebar_menu{
    height:200px;
    padding:20px;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
}
.sidebar_link{
    color:white;
    text-decoration: none;
    font-size:18px;
    border-radius: 5px;
    background-color: #333;
    padding:10px 15px;
    width:100%;
    text-align: center;
}
.sidebar_link:hover{
    background-color: #555;
    color:orange
    
}
.siderbar_link:focus{
    outline:none;
    background-color: #555;
    color:orange;
    text-shadow: 1px 1px 5px orange;
}
.content{
    display:flex;
    flex-direction: column;
    gap:20px;

    padding:20px;
}
@media (max-width:768px){
    body{
        flex-direction: column;
    }
    .sidebar{
        width:100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
    }
    .sidebar_menu{
        flex-direction: row;
        height:auto;
    }
    .sidebar_link{
        width:auto;
        
    }
}
