#body{
    margin:0px;
    padding: 0px;
    position: relative;
    height: 100vh;
    width: 100vw;
}
#container{
    position: absolute;
    background-color: white;
    color: black;
    right:0;
}